@import '../styles/variables';

.wrapper {
  width: 100%;
  padding-top: 50px;
  svg {
    cursor: pointer;
  }
  & > div {
    border-top: 1px solid $primary;
    padding-block: 40px 20px;
    padding-inline: 120px;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      gap: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      & > span:first-child {
        font-size: 13px;
        color: $gray-500;
      }
      & > span:last-child {
        font-size: 22px;
        font-weight: 500;
      }
    }
  }
}
