.extend {
  input {
    width: 240px;
    border-radius: 3px;
    height: 45px;
    padding: 5px;
  }
}

.small {
  input {
    // width: 140px;
    border-radius: 3px;
    height: 45px;
    padding: 5px;
  }
}