@import '../../styles/variables';
@import '../../styles/typography.module';

.wrapper {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  max-width: 600px;

  margin-inline: auto;
  padding-inline: 20px !important;

  &>div>div {
    width: 100%;
  }

  &>div:last-child {
    gap: 40px;
  }

  input[type='date']::-webkit-calendar-picker-indicator {
    background: none;
  }

  input[type='checkbox']::-webkit-calendar-picker-indicator {
    width: 30px !important;
    height: 30px !important;
  }

  input {
    outline: none;
    text-align: center;
    font-size: 14px !important;
  }

  .svg {
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    &>*:first-child {
      position: absolute;
      top: 50%;
      left: 7%;
      transform: translateY(-50%) scale(0.5);
      z-index: 5;
    }

    input {
      padding-left: 35px !important;
    }
  }

  .extend {
    width: 312px;
  }

  .normal {
    input {
      width: 163px;
      border-radius: 3px;
      height: 45px;
      padding: 5px;
    }
  }

  .cardRow {
    display: grid;

    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;

    justify-items: center;

    grid-column-gap: 24px;
    grid-row-gap: 8px;

    grid-template-areas:
      'participants_number name'
      'price duration'
      ;
  }

  .cardDescription {
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .deleteCardText {
    width: 528px;
    text-align: right;
    font: normal normal normal 14px/21px Heebo;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    .textWrapper {
      width: 100%;
      margin-right: 10px;
    }
  }
}