.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;

  img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
  }

  & > div {
    padding-inline: 60px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: 100%;
    width: 50%;

    & > svg {
      margin-left: auto;
    }
    & > span:nth-child(2) {
      font-size: 20px;
      font-weight: bold;
      margin-left: auto;
      padding-bottom: 20px;
    }
    & > span:nth-child(3) {
      // font-size: 20px;
      // text-align: right;
      // font-weight: bold;
      margin-left: auto;
      // padding-bottom: 20px;
    }
    & > div:nth-child(3) {
      display: flex;
      justify-content: space-between;
      width: 100%;

      input {
        text-align: right;
      }
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-inline: auto;
      border: 1px solid #434343;

      margin-top: auto;
      margin-bottom: 20px;

      height: 45px;

      width: 100%;
      max-width: 150px;
    }
  }
}
.box {
  display: flex;
  flex-direction: column;
  padding: 20px 12px;

  max-width: 280px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;

  & > div {
    display: flex;
    justify-content: space-between;

    span {
      font-weight: bold;
    }
  }
}
.block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.bottomButton {
  outline: none;
  border: none;
  width: 100%;
  background-color: white;
  cursor: pointer;
}
