.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;

  img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
  }

  & > div {
    padding-inline: 60px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: 100%;
    width: 50%;

    & > svg {
      margin-left: auto;
    }
    & > button {
      width: 165px;
      height: 45px;
    }
  }
}

.block {
  display: flex;
  width: 100%;
  flex-direction: column;
}
