.wrapper {
  max-width: 550px;

  padding-inline: 0px;
  display: grid;
  width: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: auto;

  grid-column-gap: 16px;
  grid-row-gap: 24px;

  grid-template-areas:
    'email'
    'phone'
    'name';

  input {
    width: 309px;
    border-radius: 3px;
    height: 45px;
    padding: 5px;
  }
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font: normal normal bold 22px/32px Heebo;
  margin-top: 100px;
}